.contact-us-container {
    background-color: white;
    padding: 60px 20px;
    color: black;
}

.contact-us-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.contact-us-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form, .contact-details {
    flex: 1;
}

.contact-form Form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 10px 0;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #f39c12;
    border-color: #f39c12;
    margin-top: 20px;
}

.contact-details {
    border-top: 2px solid #f39c12;
    padding: 20px;
}

.contact-details h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-details p {
    margin-bottom: 10px;
}

.social-media-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-links a {
    color: black;
}
